<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @enrollment.student %>
</p>

<p>
  <strong>Course assignment:</strong>
  <%= @enrollment.course_assignment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @enrollment.date %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
